<div class="card">
  <div class="card-content">
  <h1 class="title is-4">メモ編集</h1>
  </div>
</div>
<div class="card">
<form action="/memos/<%= @memo[:id] %>" method="post">
    <input type="text" name="title" value=<%= h(@memo[:title]) %> required><br>
    <input name="body" rows="5" value=<%= h(@memo[:body]) %> required><br>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="変更" class="button is-success">
</form>
</div>
<div class="button is-primary">
<a href="/">トップページへ戻る</a> 
</div>
